DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=your_db_password
DB_NAME=nest_db
DB_SYNCHRONIZE=false

JWT_SECRET=change_me
JWT_EXPIRES_IN=10d
SECRET_KEY_ADMIN=change_me
NODE_ENV=development

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password

PASSWORD_RESET_EXPIRES=3600000

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
